h1 {
    color:white;
    font-family: fantasy;
    font-weight: bolder;
    background-color: black;
}

span {
    color: aqua;
}

h2 {
    color: white;
    background-color: blueviolet;
    font-family:sans-serif;
    font-style: italic;
    text-align: center;
}

h3{
    color: blueviolet;
    font-family: cursive;
    background-color: cornflowerblue;
    text-align: right;
}