.container {
    overflow: auto;
    paddint-top: 10px;
    background-color: silver;
    width: 690px;
    height: 500px;
  }
  
  .top-nav {
    background-color: green;
    height: 150px;
    margin: 20px;
  }
  
  .side-nav {
    display: inline-block;
    height: 200px;
    width: 180px;
    background-color: blue;
    margin: 20px;
    vertical-align: top;
  }
  
  .main {
    display: inline-block;
    height: 250px;
    width: 420px;
    background-color: red;
    margin: 20px; 
  }
  
  .sub-content {
    background-color: yellow;
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 10px;
  }
  #advertisement {
    background-color: purple;
    width: 350px;
    height: 80px;
    margin-left: 10px;
  }
  